.image .wrapper .img-block{border:1px solid #000;height:50vh;position:relative}.image .wrapper .img-block ul{position:absolute}.image .wrapper .img-block ul li{border:1px solid #000;height:100px;width:100px;margin-bottom:10px}
