@font-face {
    font-family: "Young Serif";
    src: url(../css/fonts/youngserif.woff2), url(../css/fonts/youngserif.woff);
}

body{
    font-family: $body, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: $primary-color;
}

section, footer, header{
    padding-left: 5vw;
    padding-right:5vw;
}

.wrapper{
    max-width: 1440px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.btn{
    min-width:200px;
    text-decoration:none;
    background-color: $light-color;
    color: $dark-color;
    border: solid 1px $dark-color;
    text-transform: uppercase;
    padding: 16px;
    display: inline-block;
    font-size: 15px;
    line-height:1;
    letter-spacing: 1px;
    transition: background 0.5s ease;
    text-align:center;
    border-radius: 30px;
    

    &:hover{
        background:$dark-color;
        color: $light-color;
        
    }

    &.btn-primary{
        background-color: $primary-color;
        color: #fff;
        border:none;
    }

    &.btn-dark{
        background-color: $dark-color;
        color: $light-color;
        border:none;

            &:hover{

            }
    }

}

.item-alert{
    display: none;


    &.item-alert-visible{
        display: flex;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        text-align:center;
        color:$primary-color;
        z-index:999;

        animation-name: itemAlert;
        animation-duration: 3s;
        animation-fill-mode:forwards;
    }

    article{
        background-color: #fff;
        padding: 16px 48px;
        border: 1px solid $primary-color;
        border-radius:30px;

        h1{
            span{
                margin-left:8px;
            }
        }
    }
}




