.blog{
    background-color:$light-color;
    padding-top:80px;
    padding-bottom:80px;

    .wrapper{
        h1{
            font-size:45px;
            font-family: $heading;
            text-align:center;
            color:$dark-color;
            line-height: 1.3;
            margin-bottom:40px;

            @include mobile{
                font-size:32px;
            }
        }

        div{
            height:450px;
            cursor: pointer;
            position:relative;
            
            h2{
                font-size:28px;
                line-height:1.2;
                position: absolute;
                font-weight: bold;
                padding: 24px;
                background: #fff;
                border: 1px solid black;
                border-radius: 30px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align:center;

                @include mobile{
                    font-size:20px;
                    line-height:1.5;
                }
            }

            .main-image{
                width:100%;
                height:100%;
                object-fit: cover;
            }

            ul{
                position: absolute;
                bottom: 0;
                right: 32px;

                @include mobile{
                    display:flex;
                    justify-content: space-around;
                    width:100%;
                    right:0;
                    left:0;
                
                }
                li{
                    width:80px;
                    height:80px;
                    margin-bottom:32px;
                    border:1px solid $primary-color;
                    border-radius:30px;
                    overflow:hidden;

                    img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}