.breadcrumb{
    padding-top: 120px;
    padding-bottom: 20px;

    .wrapper{
        ul{
            li{
                display: inline-block;
                font-size:15px;
                &:after{
                    content: "/";
                    margin-left:8px;
                    color: #767676;
                }

               

                &:last-child{
                    &:after{
                        content:"";
                    }
                }
                a{
                    text-decoration:none;
                    color: $primary-color;

                    &.grey{
                        color:#767676;
                    }
                }
            }
        }
    }
}