.contact{
    padding-top:88px;
    height:100vh;
    max-width:100vw;
    padding-left:0;
    padding-right:0;

    @include mobile{
        height:auto;
    }

    .flex-container{
        display: flex;
        align-items: center;
        height:100%;

        @include mobile{
            flex-direction: column;
        }

        aside{
            width:50%;

            @include mobile{
                width:100%;
            }

            &.contact-header{
                background-color: $light-color;
                text-align:center;
                font-size:72px;
                display: flex;
                justify-content: center;
                align-items: center;
                height:100%;

                @include mobile{
                    width:100%;
                    height:auto;
                }

                h1{
                    font-family: $heading;
                    font-size: 72px;
                    color:$dark-color;

                    @include mobile{
                        font-size:32px;
                        padding:40px;
                    }
                }
            }
        }

        form{
            width:50%;
            font-size:16px;
            color:#767676;

            @include mobile{
                width:100%;
                padding-top:32px;
            }

            .row{
                max-width:380px;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:24px;

                @include mobile{
                    width:340px;
                }

                label{
                    display:block;
                    margin-bottom:8px;
                }

                select{
                    width:100%;
                    padding:8px;
                }

                input{
                    width:100%;
                    padding:8px;
                }

                &.name{
                    display:flex;

                    aside{
                        width:50%;

                        &:first-child{
                            margin-right:20px;
                        }
                    }
                }

                textarea{
                    resize:none;
                    width:380px;
                    height:150px;

                    @include mobile{
                        width:340px;
                    }
                }
            }

            .btn{
                position:relative;
                left:50%;
                transform: translateX(-50%);
                width:380px;

                @include mobile{
                    width:340px;
                }
            }
        }
    }
}