footer{
    padding-top:56px;
    padding-bottom:56px;
    background-color: $primary-color;

    @include mobile{
        padding-top:40px;
        padding-bottom:0px;
    }

    .wrapper{
        display:flex;
        flex-wrap:nowrap;
        align-items: flex-start;

        @include mobile{
            display:block;
            text-align:center;
        }

        .coll{
            width:25%;
            position:relative;

            @include mobile{
                width:100%;
            }

            &::after{
                content:"";
                display: block;
                position: absolute;
                height: 160px;
                background-color: #fff;
                width: 1px;
                top:0;
                right: 20px;

                @include mobile{
                    content: none;
                }
            }

            ul{
                display:flex;
                flex-direction: column;
                h6{
                    color: #fff;
                    text-transform: uppercase;
                    font-size:15px;
                    margin-bottom:16px;
                }
                li{
                    margin-bottom: 8px;
                    font-size:12px;

                    @include mobile{
                        display:none;
                    }
                    a{
                        color:#fff;
                        text-decoration:none;
                    }
                }
            }

            &:nth-of-type(3){
                @include mobile{
                    margin-bottom:16px;
                }
               
            }
            &:nth-of-type(4){

                @include mobile{
                    display: flex;
                    flex-direction: column;
                }

                h6{
                    color: #fff;
                    text-transform: uppercase;
                    font-size:15px;
                    margin-bottom:16px;

                    @include mobile{
                        display:none;
                    }
                }

                p{
                    color: #fff;
                    font-size: 12px;
                    margin-bottom: 8px;

                    @include mobile{
                        order:2;
                    }

                    &:nth-of-type(2){
                        margin-bottom:40px;

                        @include mobile{
                            order:3;
                        }
                    }
                }
                ul{
                    flex-direction: row;

                    @include mobile{
                        order: 1;
                        justify-content: center;
                    }

                    li{
                        margin-right: 12px;

                        @include mobile{
                            display:block;
                        }

                        a{
                            img{
                                border-radius:30px;
                            }
                        }
                    }
                }

                &::after{
                    display:none;
                }
            }
        }
    }
}