.hero{
    background-color: $light-color;
    padding-top: 152px;
    min-height: 100vh;

    .wrapper{
        display:flex;
        flex-wrap: nowrap;
        align-items: center;

        @include mobile{
            flex-direction: column;
            justify-content: center;
        }

        .intro-img{
            display:none;

            @include mobile{
                display:block;
                width:120px;
            }
        }
        .intro-text{
            width:50%;
            @include mobile{
                width:100%;
            }
             
            article{
                opacity:0;
                max-width: 436px;
                animation-name: fadeIn;
                animation-delay: 1s;
                animation-duration: 2s;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
                
                @include mobile{
                    text-align:center;
                }
                
                
                h1{
                    font-family: $heading;
                    font-size: 72px;
                    line-height: 1.3;
                    margin-bottom: 24px;
                    text-transform: lowercase;
                    color: $dark-color;

                    @include mobile{
                        font-size:56px;
                    }
                }
    
                p{
                    margin-bottom: 24px;
                    color: $dark-color;
                }
    
                ul{
                    display:flex;
                    margin-top:12px;

                    @include mobile{
                        flex-direction: column;
                    }
                    li{
                        margin-right:32px;

                        @include mobile{
                            margin-right:0;
                        }
    
                        .btn{
                            margin-top: 32px;
                            
                            @include mobile{
                                display: block;
                            }
                        }
                    }
                }
    
    
            }
        }

        .intro-slider{
            width:50%;
            @include mobile{
                display:none; 
            }

            .slick-slide{
                img{
                    width:100%;
                    height:auto;
                    object-fit:cover;
                }
            }

            .slick-dots{
                display: flex;
                justify-content: center;
                align-items: center;

                li{
                    margin-right:16px;
                    &:last-child{
                        margin-right:0;
                    }
                    &.slick-active{
                        button{
                            opacity:100%;
                        }
                    }
                    button{
                        background-color: $dark-color;
                        opacity:50%;
                        font-size:0;
                        height:12px;
                        width:12px;
                        border:none;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}