.image{
    padding-top:20px;
    padding-bottom:20px;

    .wrapper{
            position: relative;

    
            img{
                width:100%;
                height:500px;
                object-fit:cover;
            }

            article{
                width:100%;
                height:500px;
                background-color: $light-color;
                color: #fff;
                position:absolute;
                top:0;
                opacity: 0;

                &:hover{
                    opacity:0.8;
                }
            }

            ul{
                position:absolute;
                bottom: 24px;
                right:20px;
                li{
                    height:100px;
                    width:100px;
                    margin-bottom:16px;

                    &:last-child{
                        margin-bottom:0;
                    }

                    &.selected{
                        box-shadow: 4px 4px $dark-color;
                    }

                    img{
                        height:100px;
                        width:100%;
                        object-fit:cover;
                    }
                }
            }
        
    }
}