@keyframes fadeIn{
    from{
        opacity: 0;
        
    }

    to{
        opacity: 1;
       
    }
}

@keyframes itemAlert{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity:0;
    }
}