header{
    padding-top: 32px;
    padding-bottom:32px;
    background:#fff;
    border-bottom:1px solid $primary-color;
    position: fixed;
    z-index: 100;
    width:100%;
    top:0;
    left:0;
    
    @include mobile{
        display:none;
    }
    .wrapper{
            display:flex;
            align-items:center;

            .logo{
                margin-right:64px;
            }
            nav{
                display:flex;

                ul{
                    display:flex;
                    font-size:15px;

                    li{
                        margin-right:40px;

                        a{
                            text-decoration:none;
                            color: $primary-color;

                            svg{
                                position: relative;
                                top:2px;
                            }

                            &:hover{
                                color:$dark-color;

                                
                            }
                        }
                    }
                }

                &:nth-of-type(1){
                    flex:1;
                }

                &:nth-of-type(2){
                    align-items:flex-end;

                    ul{
                        li{
                            a{
                                svg{
                                    margin-right:12px;

                                    &:nth-of-type(3){
                                        margin-right:0px;
                                        
                                    }
                                }

                            }
                            &:last-child{
                                margin-right:0;
                            }
                        }
                    }
                }
            }
    
       
    }
}

.mobile{
    display:none;

    @include mobile{
        display:block;
    }
    .wrapper{
            display:flex;
            justify-content: space-between;
            align-items:center;
        
    
        div{
            flex:1;
            z-index:3;
        }
    
        aside{
            flex:1;
            text-align:right;
    
            a{
                margin-left:24px;
                text-decoration:none;
                color:$primary-color;

                .items{
                    
                }
            }
        }

        .nav-mobile{
            position:fixed;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color:$dark-color;
            transform:translateX(-100%);
            transition: transform 0.5s ease;

            &.nav-visible{
                transform:translateX(0%);  
            }

            ul{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                width:100%;

                li{
                    
                    margin-right:0px;
                    margin-bottom:16px;
                    a{
                        font-size:32px;
                        color:$light-color;
                        

                        .items{
                            font-size:16px;
                            vertical-align: top;
                        }
                    }

                    
                }
            }
        }
    }

}