.newsletter{
    padding-top: 80px;
    padding-bottom: 80px;

    .wrapper{
        text-align:center;
       
            
                 h2{
                    font-family: $heading; 
                    color: $primary-color;   
                    font-size:45px;
                    line-height:1.3;
                    margin-bottom: 12px;

                    @include mobile{
                        font-size: 32px;
                    }
                    }
                
            
                .form{
                  display:flex;
                  margin-top:32px;
                  margin-left:auto;
                  margin-right:auto;
                  max-width:600px;

                  @include mobile{
                    flex-direction: column;
                  }
                
                  input[type="text"]{
                      flex:1;
                      font-size: 16px;
                      padding: 8px;
                      color: $primary-color;
                      -webkit-appearance: none;
                    
                  }
                  
                  input[type="submit"]{
                    
                      padding:16px;
                      font-size:15px;
                      text-transform:uppercase;
                      line-height: 1;
                      cursor:pointer;
                      -webkit-appearance: none;
                      border-radius: 0;

                  }

                }
            
    }
    
}