.products{
    padding-top: 56px;
    padding-bottom: 80px;

    @include mobile{
        padding-top:48px;
    }

    &.kitchen{
        background-color: $light-color;
    }
    .wrapper{
        h2{
            font-family: $heading;
            font-size: 45px;
            line-height: 1.3;
            text-align: center;

            @include mobile{
                font-size:32px;
            }
        }

        
            ul{
                display:flex;
                justify-content:center;
                margin-top:32px;

                li{
                    width:180px;
                    margin-right:20px;
                    position:relative;
                    border-bottom: 1px solid $primary-color;
                    display: flex;
                    justify-content: space-between;
                    padding-left: 12px;
                    
                    &:last-child{
                        margin-right:0;
                    }

                    span{
                        img{
                            vertical-align: middle;
                        }
                    }

                    .filters-list{
                        z-index:2;
                        position:absolute;
                        padding-top:24px;
                        padding-bottom:24px;
                        top:28px;
                        left:0;
                        width:100%;
                        display:none;
                        background-color:#fff;
                        box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.20);
                        cursor:pointer-events;

                        li{
                            border:none;
                            margin-bottom:8px;
                            cursor:pointer;

                            &.selected{
                                font-weight:500;
                            }
                        }
                    }
                }
            }
        

        .grid-container{
            padding-top:80px;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 40px 20px;
            margin-bottom: 56px;

            @include mobile{
                padding-top:40px;
                grid-template-columns: 1fr;
            }

            .card{
                position:relative;
                border: 0.5px solid $primary-color;

                @include mobile{
                    &:nth-child(n+7){
                        display: none;
                    }
                }


                img{
                    width:100%;
                    height:auto;
                    padding-top:12px;
                    padding-left:12px;
                    padding-right:12px;
                    margin-bottom: 16px;
                }

                span{
                    position: absolute;
                    top: 24px;
                    right: 24px;
                    width: 44px;
                    height: 44px;
                    border: 1px solid $primary-color;
                    background-color: #fff;
                    background-image:url(../img/basket2.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius:30px;
                    cursor:pointer;
                }

                article{
                    padding-left:12px;
                    padding-bottom: 12px;

                    h4{
                        font-family:$heading;
                        font-size:18px;
                        line-height:1.3;
                        font-weight: 500;
                    }

                    small{
                        font-size: 15px;
                        line-height:1.5;
                    }

                    .price{
                        font-size:15px;
                        position: absolute;
                        bottom: 12px;
                        right:20px;
                    }
                }
            }
        }

        a{
            position: relative;
            left:50%;
            transform: translateX(-50%);

            @include mobile{
                width:100%;
            }
        }
    }
}

