.rooms{
    padding-top:168px;
    padding-bottom:80px;

    @include mobile{
        padding-top:120px;
    }

    h2{
        font-family: $heading; 
        color: $primary-color;   
        font-size:45px;
        line-height:1.3;
        margin-bottom: 32px;
        text-align:center;

        @include mobile{
            font-size:32px;
        }
    }

    .flex-container{
        display:flex;
        justify-content:center;
        gap:20px;

        @include mobile{
            flex-direction: column;
            max-width: 340px;
            margin-left: auto;
            margin-right: auto;
        }


        .card{
            width:25%;
            position:relative;
            opacity: 0;
            transition: opacity 2s;
            color:$primary-color;

            @include mobile{
                width:100%;
            }

            &:hover{           
                figure{
                    &:before{
                        opacity:0;
                    }
                }
            }

            &.visible{
                opacity: 1;
                &:nth-of-type(2){
                    transition-delay: 1s;
                }
                &:nth-of-type(3){
                    transition-delay: 2s;
                }
            }
            

            article{
                text-align:center;
                padding-top: 24px;
                padding-bottom: 32px;
                h3{
                    font-size:32px;
                    line-height:1.3;
                    font-family:$heading;
                    margin-bottom:12px;
                    
                }

                p{
                    max-width:200px;
                    margin: 0 auto;
                    height: 50px;
                    overflow:hidden;
                    margin-bottom: 32px;
                }
            }

            .explore{
                text-decoration:underline;
                text-align:center;
                position: absolute;
                bottom: 24px;
                font-size: 15px;
                line-height:1.2;
                font-weight: 700;
                width:100%;
            }
            
            figure{
                height:230px;
                position:relative;
                

                img{
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
            }

            &:nth-of-type(1){
                border: 2px solid $dark-color;

                figure{
                    &:before{
                        content:"";
                        position:absolute;
                        width:100%;
                        height:100%;
                        background-color:$dark-color;
                        mix-blend-mode:screen;
                        transition: opacity 0.5s ease-in-out;
                    }
                }

                article{
                    h3{
                        color: $dark-color;
                    }
                }
                
                .explore{
                    color: $dark-color;
                }
            }

            &:nth-of-type(2){
                border: 2px solid #2C3F2C;

                figure{
                    &:before{
                        content:"";
                        position:absolute;
                        width:100%;
                        height:100%;
                        background-color:#2C3F2C;
                        mix-blend-mode:color;
                        transition: opacity 0.5s ease-in-out;
                    }
                }
                
                article{
                    h3{
                        color: #2C3F2C;
                    }
                }

                .explore{
                    color: #2C3F2C;
                }
            }

            &:nth-of-type(3){
                border: 2px solid #132897;

                figure{
                    &:before{
                        content:"";
                        position:absolute;
                        width:100%;
                        height:100%;
                        background-color:#132897;
                        mix-blend-mode:color;
                        transition: opacity 0.5s ease-in-out;
                    }
                }

                article{
                    h3{
                        color: #132897;
                    }
                }
                
                .explore{
                    color: #132897;
                }
            }

            
        }
    }
}