.new-cherished{
    padding-top:120px;
    padding-bottom: 120px;
    background-color: $light-color;

    @include mobile{
        padding-top:48px;
        padding-bottom: 48px;
    }
    
    .wrapper{
        display:flex;
        align-items:center;
        position:relative;

        @include mobile{
            display:block;
        }
        article{
            padding-right:32px;
            h2{
                font-family: $heading;
                line-height:1.2;
                font-size:32px;
                margin-bottom:12px;
                width:248px;
                color: $dark-color;

                @include mobile{
                    font-size:24px;
                }
            }

            p{
                margin-bottom: 48px;
                color: $dark-color;
                width:300px;

                @include mobile{
                    font-size: 16px;
                    margin-bottom: 24px;
                }
            }

            a{
                @include mobile{
                    display:none;
                }
                
            }
        }

        .slider{
            overflow: hidden;
            padding:10px;
            position:static;

            @include mobile{
                padding:0;
            }

            .slick-list{
                @include mobile{
                    overflow:visible !important;
                }
            }

            .slick-prev{
                font-size:0;
                background-image:url('../img/arrow_left.svg');
                width: 56px;
                background-size: contain;
                background-repeat: no-repeat;
                height: 35px;
                background-color: transparent;
                border: none;
                top: -48px;
                right: 120px;
                position: absolute;

                @include mobile{
                    width:40px;
                    top:0;
                    right:64px;
                }
            }

            .slick-next{
                font-size:0;
                background-image:url('../img/arrow_right.svg');
                width: 56px;
                background-size: contain;
                background-repeat: no-repeat;
                height: 35px;
                background-color: transparent;
                border: none;
                position: absolute;
                top: -48px;
                right: 32px;

                @include mobile{
                    width:40px;
                    right:0;
                    top:0;
                }
            }
            .card{
                position:relative;
                border: 0.5px solid $primary-color;
                margin-right:20px;

                @include mobile{
                    height: 450px !important;
                    width:100%;
                    margin-right:0px;
                }
                

                    img{
                        width:100%;
                        height:auto;
                        padding-top:12px;
                        padding-left:12px;
                        padding-right:12px;
                        margin-bottom: 16px;
                    }
    
                    span{
                        position: absolute;
                        top: 24px;
                        right: 24px;
                        width: 44px;
                        height: 44px;
                        border: 1px solid $primary-color;
                        background-color: #fff;
                        background-image:url(../img/basket2.svg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius:30px;
                        cursor:pointer;
                    }
    
                    article{
                        padding-left:12px;
                        padding-bottom: 12px;
    
                        h4{
                            font-family:$heading;
                            font-size:18px;
                            line-height:1.3;
                            font-weight: 500;
                        }
    
                        small{
                            font-size: 15px;
                            line-height:1.5;
                        }
    
                        .price{
                            font-size:15px;
                            position: absolute;
                            bottom: 12px;
                            right:20px;
                            margin-bottom:0;
                            color: $primary-color;
                            width:47.45px;
                        }
                    }

            }
        }

        .btn-mobile{
            display:none;

            @include mobile{
                display: block;
                margin-top: 24px;
            }
        }
    }
}

